h1{
    text-align: center;
    
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
body{
    background-color: white;
}
#welcome {
    background-image: url(../assets/backgrounds/h_img.jpg);
    text-align: center;
    height: 13cm;
    font-size: 12px;
}
#services-offered {
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: 8cm;
    padding-top: 90px;
    color: white;
    font-size: 18px;
    font-style: italic;
}
#contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    height: 12cm;
    
}
#black {
    background-image: url(../assets/portfolio/work4.jpg);
    
}
#ontario{
    background-image: url(../assets/portfolio/work3.jpg);
    background-position: center;
    

}
#Pyramids{
    background-image: url(../assets/portfolio/work2.jpg);
    
}
#JimCarry{
    background-image: url(../assets/portfolio/work1.jpg);
    
}
#NiceDay{
    background-image: url(../assets/portfolio/work5.jpg);
    
}
#Calculator{
    background-image: url(../assets/portfolio/work6.jpg);
}
#burned{
    background-image: url(../assets/portfolio/work7.jpg);
    background-position: center;
}
#gr{
    background-image: url(../assets/portfolio/work8.jpg);
    background-position: center;
}
.portfolio{
    text-align: center;
    width: 250px;
    height: 250px;
    font-size: 40px;
    margin: auto;
    margin-bottom: 20px;
    
    
}
#social{
    align-items: center
}
.hidden{
    display: none;
}

#black p,
#ontario p,
#Pyramids p,
#JimCarry p,
#NiceDay p,
#Calculator p,
#burned p,
#gr p {
    display : none;
}